@model ProjetFilRouge.Models.Utilisateur

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid d-flex justify-content-center align-items-center text-center align-middle flex-wrap">
    <div style="background-color:whitesmoke" class="container-fluid w-100 rounded p-2 border border-white">
        <div class="container-fluid d-flex border border-secondary rounded p-2 text-center flex-column text-black">
            <h2>Mon Compte</h2>

            <form>

                <div class="d-flex justify-content-center flex-column">
                    <div class="d-flex justify-content-center">
                        <div class=" p-2">
                            <span>Nom : </span>
                        </div>
                        <div class=" p-2">
                            @Html.DisplayFor(model => model.Nom)
                        </div>
                        <div class="d-flex p-2">
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-center flex-column">
                    <div class="d-flex justify-content-center">
                        <div class=" p-2">
                            <span>Prenom : </span>
                        </div>
                        <div class="p-2">
                            @Html.DisplayFor(model => model.Prenom)
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-center flex-column">
                    <div class="d-flex justify-content-center">
                        <div class=" p-2">
                            <span>Email : </span>
                        </div>
                        <div class=" p-2">
                            @Html.DisplayFor(model => model.Email)
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-center flex-column">
                    <div class="d-flex justify-content-center">
                        <div class=" p-2">
                            <span>Mot De Passe : </span>
                        </div>
                        <div class=" p-2">
                            @Html.DisplayFor(model => model.MotDePasse)
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-center flex-column">
                    <div class="d-flex justify-content-center">
                        <div class=" p-2">
                            <span>Date de Naissance : </span>
                        </div>
                        <div class=" p-2">
                            @Html.DisplayFor(model => model.DateNaissance)
                        </div>
                    </div>
                </div>
                <div>
                    <a class="btn btn-info rounded p-2" asp-action="Edit" asp-route-id="@Model.Id">Modifier mes infos</a>
                </div>

            </form>

        </div>
    </div>
</div>
