@model ProjetFilRouge.Models.Publication

@{
    ViewData["Title"] = "Details";
}


<div style="background-color:whitesmoke" class="container-fluid d-flex justify-content-center align-items-center text-center align-middle flex-wrap p-2">
    <div class="container-fluid w-100 rounded p-2 border border-secondary">
        <h1 class="text-black text-center p-2">Mes Publications</h1>
    </div>
    <div class="container-fluid w-100 rounded p-2 border border-secondary">
        <div class="container-fluid d-flex text-center flex-column text-black">
            <dl>
                <dt>Titre</dt>
                <dd>@Html.DisplayFor(model => model.Titre)</dd>
                <dt>Date</dt>
                <dd>@Html.DisplayFor(model => model.Date)</dd>
                <dt>Contenu</dt>
                <dd>@Html.DisplayFor(model => model.Contenu)</dd>
                <dt>Auteur</dt>
                <dd>@Html.DisplayFor(model => model.Auteur.Nom)</dd>
                <dt>Canal</dt>
                <dd>@Html.DisplayFor(model => model.Canal.Nom)</dd>
            </dl>
            <div>
                @if (ViewBag.userId == @Model.Auteur.Id.ToString())
                {
                    <a class="btn btn-info rounded" asp-action="Edit" asp-route-id="@Model.Id">Modifier</a>
                }

            </div>
        </div>
    </div>
</div>


