@model ProjetFilRouge.Models.Publication

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="bg-light p-3">
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contenu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contenu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Auteur)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Auteur.Nom) @Html.DisplayFor(model => model.Auteur.Prenom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Canal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Canal.Nom)
        </dd>
    </dl>
</div>
<div>
    @if (ViewBag.User != null)
    {
        @if (ViewBag.User == Model.Auteur.Id)
        {
            <a asp-action="Edit" asp-route-id="@Model.Id">Modifier</a>
        }
    }
    <a class="text-light" asp-action="Index">Retour à la liste</a>
</div>
