@model IEnumerable<ProjetFilRouge.Models.Publication>

@{
    ViewData["Title"] = "Home";
}
<!-- end #menu -->
<div id="page">
    <div id="sidebar" class="col-3">
        <ul>
            <li>
                <h2>Menu</h2>
                <ul>
                    <li><a href="#">S'inscrire</a></li>
                    <li><a asp-action="Create" asp-controller="Publications">Créer une Publication</a></li>
                    <li><a asp-action="Create" asp-controller="Canal">Créer un Canal</a></li>
                </ul>
                @if (ViewBag.RoleConnected == "ADMIN")
                {
                    <ul>
                        <li><a asp-action="Create" asp-controller="Utilisateurs" asp-route-id="">Ajouter une Utilisateur</a></li>
                        <li><a asp-action="UtilisateursIndex" asp-controller="Administrateurs" asp-route-id="">Gérer les Utilisateurs</a></li>
                        <li><a asp-action="PublicationsIndex" asp-controller="Administrateurs" asp-route-id="">Gérer les Publication</a></li>
                        <li><a asp-action="CanalsIndex" asp-controller="Administrateurs" asp-route-id="">Gérer les Canaux</a></li>
                    </ul>
                }
            </li>
        </ul>
    </div>
    <div id="content" class="border border-1 p-2">
        @foreach (var item in Model)
        {
            if (item.Validite == true)
            {
                <a asp-action="Details" asp-route-id="@item.Id">
                    <div class="post">
                        <h2 class="title">
                            @Html.DisplayFor(modelItem => item.Titre)
                        </h2>
                        <p class="meta">
                            <span class="date">
                                @Html.DisplayFor(modelItem => item.Date)
                            </span>
                            <span class="posted">
                                Publié par @Html.DisplayFor(modelItem => item.Auteur.Nom)
                            </span>
                        </p>
                        <div style="clear: both;">&nbsp;</div>
                        <div class="entry">
                            <p>
                                @Html.DisplayFor(modelItem => item.Contenu)
                            </p>
                        </div>
                    </div>
                </a>
                <div class="btn-group">
                    @if (ViewBag.userId == item.Auteur.Id.ToString())
                    {
                        <a class="btn-info rounded m-2 p-2" asp-action="Edit" asp-route-id="@item.Id">Modifier</a>
                        <a class="btn-danger rounded m-2 p-2" asp-action="Delete" asp-route-id="@item.Id"> Supprimer </a>
                    }
                </div>

            }
        }
        <div style="clear: both;">&nbsp;</div>
        <p>
            <a asp-action="Create">Create New</a>
        </p>
    </div>
    <div style="clear: both;">&nbsp;</div>
</div>
